/******
Generic Styles for all pages
******/
* {
  font-family: 'Walter Turncoat', 'Arial', 'Georgia', serif, sans-serif;;
}
body {
  max-width: 90%;
  margin: 0 auto;
}

/******

******/
div {
  float: left;
  width: 26%;
  margin: 2%;
  padding: 1%;
  border: 2px solid black;
}
div h2 {
  text-align: center;
}
header {
  text-align: center;
}
h1 {
  font-size: 50px;
  margin-bottom: 0;
}
h4 {
  font-style: italic;
  font-size: 25px;
  color: grey;
  margin-top: 0;
  padding: 0;
}
ul {
  list-style: none;
}
li:last-of-type {
  border-top: 1px solid black;
}
table {
  table-layout: fixed;
  display: inline-table;
  width: 100%;
}
td {
  border-right: 1px solid black;
  border-top: 1px solid black;
  height: 55px;
}
th {
  transform: rotate(310deg);
  font-size: 14px;
}
td:last-child, th:last-child {
  border-right: none;
  transform: rotate(0deg);
}
table, table * {
  text-align: right;
  padding: 5px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
table tr td:first-child {
  text-align: left;
  width: 100px;
}
main {
  width: 100%;
}
section {
  margin: 3% 0%;
  clear: both;
}
form div {
  width: auto;
  border: none;
  margin: 0;
  padding: 2%;
}
fieldset {
  margin: 0;
}
legend {
  font-size: 25px;
}
tr:hover {
  color: #D97652;
}
tfoot {
  background-color: #EBEBF2
}
input {
  outline-color: #D97E6A;
  border: 1px solid black;
  background-color: #F8F8FF;
}
button {
    border: 1px;
    text-align: center;
    margin-right: 20px;
    float: left;
    font-weight: bold;
    width: 150px;
    font-size: 25px;
}
.button {
    border-radius: 5px;
    background-color: #F29057;
    color: white;
    border-bottom: 5px solid #BF7245;
    border-right: 3px solid #BF7245;
}
.button:hover {
    background: #BF7245;
    border-bottom: 3px solid #995B37;
    border-right: 2px solid #995B37;
    margin-top: 2px;
    margin-right: 20px;
}

.button:active {
    background: #BF7245;
    border-bottom: 0px;
    border-right: 0px;
    margin-top: 5px;
    margin-right: 20px;
}
.button.clear {
  display: none;
  background-color: #4F5059;
  border-bottom: 5px solid #323238;
  border-right: 3px solid #323238;
}
.button.clear:hover {
  background-color: #323238;
  border-bottom: 3px solid #242529;
  border-right: 2px solid #242529;
  margin-top: 2px;
}
.button.clear:active {
  background-color: #323238;
  border-bottom: 0px;
  border-right: 0px;
  margin-top: 5px;
}
/******
Homepage Styles
******/
.logo {
  width: 20%;
  float: left;
}
nav {
  height: 72px;
  margin: 2% 0%;
}
nav h1 {
  font-size: 30px;
  float: left;
  margin: 0 4%;
  padding: 15px 0px;
}
nav ul {
  height: inherit;
  margin: 0;
  width: 49%;
  float: right;
}
nav ul li {
  display: inline;
  float: right;
  margin: 0 5%;
  border: none;
  padding: 25px 0;
}
nav ul li:last-of-type {
  border: none;
}
main {
  clear: both;
}
main h2 {
  text-align: center;
  font-size: 50px;
  border-top: 1px solid black;
}
article {
  clear: both;
  margin: 10% 0;
}
.salmon_amazing div, .our_product div {
  float: right;
  width: 50%;
  border: none;
  margin: 0;
}
.our_mission div {
  float: left;
  width: 50%;
  border: none;
  margin: 0;
}
#about img {
  width: 45%;
}
#about article:last-of-type img {
  width: auto;
}
#about article:first-of-type {
  margin-top: 0;
}
#locations ul {
  padding: 0;
}
.locations_info li {
  float: left;
  border: none;
  clear: both;
}
.locations_info ul {
  float: right;
  width: 50%;
  clear: right;
}
#merch div {
  float: right;
  width: 50%;
  border: none;
  margin: 0;
}
footer {
  background-color: #EBEBF2;
  height: 200px;
}
footer .logo {
  text-align: center;
}
